<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.css') }}">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="col-4 offset-4">
            <a href="/">Home</a>
            <table class="table text-white">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{ name }}</td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>{{ location }}</td>
                    </tr>
                    <tr>
                        <td>Language:</td>
                        <td>{{ language }}</td>
                    </tr>
                    <tr>
                        <td>Comment:</td>
                        <td>{{ comment }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="/clear_form" class="btn-btn-warning">Clear Form</a>
        </div>
    </div>
</body>
</html>